:root {
    --mycol: grey;
    --maincol: black;
    --full: 100%;
    --hoverclr: #5692e1;
  }
h1{
    font-family: "Alegreya", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
h2{
    font-family: "Alegreya", sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
body{
    background-color: white;
    font-family: "Alegreya", sans-serif;
    font-size: medium;
    font-weight: regular;
}
p{
    font-family: "Alegreya", sans-serif;
    font-size: medium;
    font-weight: bold;
}

#calendar {
    width: var(--full);
    max-width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

table {
    width: var(--full);
    border-collapse: collapse;
}


.calendar-btn {
    float: right;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 10px;

}

.selected {
    background-color: var(--mycol);
}

/* Each square in the calendar  */
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    cursor:pointer;  
}


/* Current day of the month square*/
.today {
    background-color: rgb(0, 68, 164);
    color: white;
}

#icon{
    color: white;
    position: absolute;
    top: 5px;
    left: 15px;
}

#page_heading{
    color: white;
    background-color: black;
    padding-bottom: 20px;
    text-align: center;


}

a{
    text-decoration: none;
}

#diary_header{

    min-height: 50px;
    font-size: xx-large;
    text-align: center;
    
}

p{
    margin:auto;
}
#customer_slots{
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    font-family: "Alegreya", "sans-serif";
    font-size: larger;
}


.booking_time{
    font-family: "Alegreya", "sans-serif";
    font-size: medium; 
}

#new_booking{
    text-align: center;
    padding: 1%; 
    
}

#add{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slots-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.main:hover{
    background-color: rgb(243, 134, 134);
}
.main{
    text-align: right;
    font-size: x-large;
    color: white;
    

}

textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  solid rgb(50, 138, 237); /* Remove border */
    resize: none !important; /* Disable resizing */
    font-family: inherit; /* Inherit font family */
    font-size: inherit; /* Inherit font size */
    padding: none; /* Remove padding */
    outline: none; /* Remove outline */
    overflow: hidden; /* Hide any overflowing content */
  }


/* The side navigation menu */
.sidenav {
    
    height: var(--full);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--maincol);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: white;
    transition: 0.3s;
}

#clearbtn, #share-btn{
    color: white;
}

#clearbtn:hover{
    color: --hoverclr;
}
#share-btn:hover{
    color: --hoverclr;
}
#closeBtn:hover{
    color: --hoverclr;
}

/* When you mouse over the navigation links, change their color */
td:hover, .calendar-btn:hover  {
    background-color: var(--hoverclr);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#slider{
    overflow: hidden;
}
#slider figure{
    position: relative;
    width: 420%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -150%;
    }
    70%{
        left: -150%;
    }
}

.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;

}
.inner  {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background-color: #3d91e6;
    margin: 26px auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background: #fff;
    padding: 20%;
    padding-top: 10%;
}
.testimonial img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.styled-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 5px;
    font-size: 16px;
    border-color: transparent;
    width: 200px;
    height: 50px;
    display: flex;
  }
  

.briefing{

    text-align: center;
    margin: 1%;
}

.input-container{
    margin-top: 20px;
}

  .fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
 
   .augmented-reality{
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;

   }
  
@media (max-width: 500px){
    
      
}