<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href='../static/css/customer_slots.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Alegreya">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Barber $hop</title>
  <script>window.username = '{{username}}';</script>
</head>

<body>
  
  <div id="page_top">
    <span id="icon" class="fa fa-bars fa-2x"></span>
    <a href="{{ url_for('home') }}">
        <h1 id="page_heading">Barber $hop</h1>
    </a>
  </div>  
  
  <h2 id="diary_header"></h2>

  <div id="diaryEntry"></div>

  <div>
    <h4 id="new_booking">New Booking</h4>
    <div id="add">

      <div class="input-container">
        <input  type="text" id="customer_name" name="text" class="input" pattern="[a-z]*">
        <label class="label"></label>
        <div class="top-line"></div>
        <div class="under-line"></div>
      </div>

      <div class="input-container">
        <input type="text"  id="description" name="text" class="input"> 
        <label class="label"></label>
        <div class="top-line"></div>
        <div class="under-line"></div>
      </div>

      <div class="input_container">

        <select class="styled-select" name="time" id="time">
          <option value="9">09:00</option>
          <option value="10">10:00</option>
          <option value="11">11:00</option>
          <option value="12">12:00</option>
          <option value="13">13:00</option>
          <option value="14">14:00</option>
          <option value="15">15:00</option>
          <option value="16">16:00</option>
          <option value="17">17:00</option>
          <option value="18">18:00</option>
          <option value="19">19:00</option>
          <option value="20">20:00</option>
        </select>
      </div>
      <div class="input_container">
        <a id="submitbtn" class="fancy" href="#">
          <span class="top-key"></span>
          <span class="text">Make reservation</span>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </a>
      </div>
    </div>

  </div>
  
  <div id="customer_slots"></div>
  

  <div class="container">
    <div class="containers">09:00
      <div id="s9" class="icontainers"></div>
    </div>
    <div class="containers">10:00
      <div id="s10" class="icontainers"></div>
    </div>
    <div class="containers">11:00 
    <div id="s11" class="icontainers"></div>
    </div>
    <div class="containers">12:00
      <div id="s12" class="icontainers"></div>
    </div>
    <div class="containers">13:00 
      <div id="s13" class="icontainers"></div>
    </div>
    <div class="containers">14:00 
      <div id="s14" class="icontainers"></div>
    </div>
    <div class="containers">15:00 
      <div id="s15" class="icontainers"></div>
    </div>
    <div class="containers">16:00 
      <div id="s16" class="icontainers"></div>
    </div>
    <div class="containers">17:00 
      <div id="s17" class="icontainers"></div>
    </div>
    <div class="containers">18:00 
      <div id="s18" class="icontainers"></div>
    </div>
    <div class="containers">19:00 
      <div id="s19" class="icontainers"></div>
    </div>
    <div class="containers">20:00 
      <div id="s20" class="icontainers"></div>
    </div>
</div>
  


  <div id="data-container" data-year="{{ year }}" data-month="{{ month }}" data-day="{{ day }}"></div>

  <script src="{{ url_for('static', filename='js/data.js') }}"></script>


</body>

</html>